body {
  background:#020202;
  color:#fff;
  font-family:Arial, sans-serif;
  margin:0;
  padding:10px;
  text-align:center;
}

button {
  padding:10px 15px;
  border:none;
  border-radius:5px;
  background:#0af;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

button:disabled {
  background:#555;
  cursor:not-allowed;
}

h2 {
  color:#0af;
}

input {
  padding:10px;
  border-radius:6px;
  border:none;
  width:100%;
  margin-top:10px;
}

.box {
  background:#111;
  padding:25px;
  border-radius:10px;
  width:100%;
  max-width:320px;
  margin:auto;
}

.topo {
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.tabuleiro {
  display:grid;
  grid-template-columns:repeat(10,1fr);
  gap:4px;
  max-width:90vw;
  margin:0 auto;
}

.casa {
  aspect-ratio:1/1;
  background:#0af;
  border-radius:5px;
  font-size:1.4rem;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.casa.revelada {
  background:#111;
  cursor:default;
}

.casa.bloqueada {
  pointer-events:none;
  opacity:0.4;
}

#popupPontuacao {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:2rem;
  background:rgba(0,0,0,0.7);
  padding:20px;
  border-radius:10px;
  display:none;
  z-index:10;
}